<%- include('../partials/header') %>
    

<h1>Add new drink</h1>
<div class="new-edit">
    <form action="/drinks" method="POST">
        <p>Drink: <input type="text" name="drink" required class="input"></p>
        <p>Prep time: <input type="number" name="prepTime" required class="prep-serv" maxlength="2" size="2"> Servings: <input type="number" name="serving" required class="prep-serv" maxlength="2" size="2"></p>
        <p>Ingredients: <textarea rows="3" cols="30"  name="ingredients" required class="input"></textarea></p>
        <p>Instructions: <textarea rows="3" cols="30" name="instructions" required class="input"></textarea></p>
        <!-- <p>Garnish: <input type="text" name="garnish" required class="input"></p> -->
        <!-- <p>Alcohol: <input type="text" name="alcohol" required class="input"></p> -->
        <p>Image URL: <input type="text" name="imageUrl" required class="input"></p>
        <!-- <p>Video URL: <input type="text" name="videoUrl" class="input"></p> -->
        <input type="text" hidden name="postedBy" value="<%= user._id %>">
    
        <button type="submit" class="btn btn-primary del-btn" data-toggle="button" aria-pressed="false" autocomplete="off">Add Drink</button>
        
    </form>
    
</div>

<%- include('../partials/footer.ejs') %>
    