<%- include('../partials/header') %>

<h1>Drinks found</h1>

   
    <output value="drink">Drink: <%=drink.drink%></output>
    
    <output value="prepTime">Prep time: <%=drink.prepTime%></output>
 
<a href="/drinks">Back to Index</a>

<%- include('../partials/footer.ejs') %>


