
<%- include('../partials/header') %>

<div class="avatar"><% user.avatar %></div>
<div class="name">Name: <% user.name %></div>


<a href="/drinks/">All drinks</a>


<%- include('../partials/footer') %>
